/* Write your CSS here */

.app-bg-container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.app-card-container {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 9px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}

.todos-head {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: bold;
  color: #ff8542;
}

.todos-items-container {
  list-style-type: none;
  padding: 0;
}
